# Git
.git
.gitignore

# Configs de IDE
.vscode
.idea
*.iml

# Artefactos de compilación
build
.dart_tool
.packages
.flutter-plugins
.flutter-plugins-dependencies

# Plataformas nativas que no se necesitan para web
android
ios
macos
windows
linux

# Tests
test

# Archivos temporales / ruido
*.log
*.tmp
*.swp
*.md~
